<!DOCTYPE html>
<html ng-app="rssApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/angular/angular-csp.css">
    <link rel="stylesheet" href="/public/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/public/style.css">
</head>
<body ng-controller="rssController" class="ng-cloak page">
<div class="container-fluid">
    <div class="row">
        <div class="sidebar" ng-class="{'active':openMenu}">
            <div class="logo">
                <img src="/img/logo.png">
            </div>
            <div class="menu-hamburger" ng-click="openMenu=!openMenu">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </div>
            <div class="menu">
                <div class="block-control">
                    <button type="button" class="btn btn-primary" ng-click="openModal()">Добавить ленту</button>
                </div>
                <hr class="line">
                <ul class="nav nav-sidebar">
                    <li ng-repeat="group in feedGroups track by $index">
                        <div class="group" ng-class="{active: isActiveFeedGroup(group.id)}">
                            <a href="#" class="btn-link" ng-click="showFeedList(group.id)">
                                <span class="glyphicon glyphicon-record {{group.color}}"></span>
                                <span>{{group.name}} ({{group.feed.length}})</span>
                            </a>
                            <span class="glyphicon glyphicon-trash pull-right" ng-click="dropFeedGroup(group.id)"></span>
                        </div>
                    </li>
                </ul>
                <div class="block-color">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="glyphicon glyphicon-record {{defaultColor}}"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="(colorId, color) in groupColor">
                                    <a href="#" ng-click="setColor(colorId)">
                                        <span class="glyphicon glyphicon-record {{color}}"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <input class="form-control search-input" ng-enter="setFeedGroup()" ng-model="groupName" placeholder="Новая группа...">
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="error" ng-show="displayError">
                {{error}}
            </div>
            <div class="block-search">
                <div class="input-group">
                    <input ng-model="searchFeed.title" type="text" class="form-control" placeholder="Поиск по новостям...">
                    <span class="glyphicon glyphicon-search"></span>
                </div>
            </div>
            <div class="block-content clearfix">
                <div class="content-sidebar">
                    <p class="empty">{{feedListEmptyMessage}}</p>
                    <div class="list-group">
                        <div class="list-group-item" ng-repeat="feed in feedList.feed track by $index">
                            <a href="#" class="btn-link" ng-click="loadRss(feed.url, $index)">
                                <h4 class="list-group-item-heading">
                                    <div class="icon" style="background-image: url('{{getIconByUrl(feed.url)}}')" ng-show="getIconByUrl(feed.url)"></div>{{feed.name}}
                                </h4>
                                <p class="list-group-item-text">{{feed.url}}</p>
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                            <span class="glyphicon glyphicon-trash pull-right" ng-click="dropFeedList(feedList.groupId, $index)"></span>
                            <span class="glyphicon glyphicon-pencil pull-right" ng-click="openModal(feedList.groupId, feed, $index)"></span>
                        </div>
                    </div>
                </div>
                <div class="content-feeds">
                    <p class="empty">{{feedEmptyMessage}}</p>
                    <div class="item-feed clearfix" ng-repeat="feed in feeds | filter:searchFeed track by $index">
                        <h3><a href="{{feed.link}}" target="_blank">{{feed.title}}</a></h3>
                        <p class="feed-readed">{{feed.readed}}</p>
                        <p class="feed-date">{{feed.datePub | date: "dd.MM.y' в ' HH:mm"}}</p>
                        <a class="btn btn-default btn-more" ng-click="showDescription(feed, $index)">{{feed.showDescriptionText}}</a>
                        <div class="feed-description" ng-bind-html="renderHtml(feed.content)" ng-class="feed.active"></div>
                    </div>
                </div>
                <div class="content-preloader" ng-show="preloader">
                 <div class="preloader"><img src="/img/preloader.gif"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal">
    <script type="text/ng-template" id="modalForm.html">
        <form name="feedForm">
            <div class="modal-header">
                <h3 class="modal-title">{{formTitle}}</h3>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Название ленты</label>
                        <div class="col-sm-8">
                            <input class="form-control" ng-model="feedName" placeholder="Название ленты" ng-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">URL</label>
                        <div class="col-sm-8">
                            <input class="form-control" ng-model="feedUrl" placeholder="URL" type="url" ng-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Группа</label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="selectedGroup" ng-options="group.name for group in feedGroups" ng-required="true"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" ng-click="cancel()">Отменить</button>
                <button class="btn btn-primary" type="submit" ng-click="feedForm.$valid && ok()">{{formBtnTitle}}</button>
            </div>
        </form>
    </script>

</div>
<!-- Modal -->

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/public/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/public/app.js"></script>
</body>
</html>