@font-face {
  font-family: 'Gothic';
  src: url('/fonts/GOTHIC.TTF');
}

@font-face {
  font-family: 'Gothic Bold';
  src: url('/fonts/GOTHICB.TTF');
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url('/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('/fonts/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('/fonts/OpenSans-Bold.ttf');
}

body {
  background-color: #f0f1f5;

  .btn-more {
    background: #fefefe;
    background: -moz-linear-gradient(#fefefe, #e0e0e0);
    background: -webkit-linear-gradient(#fefefe, #e0e0e0);
    background: linear-gradient(#fefefe, #e0e0e0);
    box-shadow: 1px 1px 1px 0px #f1f1f1;
    text-shadow: 1px 1px #fff;
  }

  .empty {
    padding: 0 10px;
    margin: 0;
    text-align: center;
    line-height: 35px;
  }

  .mCSB_scrollTools {
    width: 10px;
  }
}