.main {
  margin-left: $main-margin-left;
  padding: 0 15px;

  .block {
    &-search {
      padding: 14px 0 10px;

      .input-group {
        .form-control {
          width: 324px;
          padding-right: 25px;
          border-radius: 5px;

          @media (max-width: 768px) {
            width: 100%;
          }
        }

        .glyphicon-search {
          position: absolute;
          top: 0;
          right: 0;
          z-index: 2;
          width: 30px;
          line-height: 33px;
          text-align: center;
          color: #ababab;
        }

        @media (max-width: 768px) {
          width: 100%;
        }
      }

      @media (max-width: 1024px) {
        position: relative;
        top: 50px;
        left: 0;
        right: 15px;
      }
    }

    &-content {
      position: absolute;
      left: 260px;
      top: 60px;
      right: 15px;
      bottom: 15px;
      border: 1px solid #c8d3de;
      background: #fff;
      border-radius: 5px;
      overflow: hidden;

      .content {
        &-sidebar {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 323px;
          border-right: 1px solid #c8d3de;
          overflow-x: hidden;
          overflow-y: auto;

          .list-group {
            margin-bottom: 0;

            .list-group-item {
              margin: 0;
              padding: 0;
              border: none;
              border-bottom: 1px solid #c8d3de;
              border-radius: 0;
              font-family: 'Open Sans Regular';

              .btn-link {
                display: block;
                padding: 17px 15px;
                color: #7a7f8d;
                text-decoration: none;
              }

              &-heading {
                margin-bottom: 14px;
                font-size: 14px;
                color: #1f7ca3;

                .icon {
                  float: left;
                  width: 16px;
                  height: 16px;
                  margin-right: 3px;
                  background-size: cover;
                }
              }

              &-text {
                margin-bottom: 15px;
                font-size: 13px;
              }

              .glyphicon-chevron-right {
                position: absolute;
                top: 50%;
                right: 7px;
                transform: translate(0, -50%);
                color: #7fb1c6;
              }

              .glyphicon-trash {
                display: none;
                position: absolute;
                right: 14px;
                top: 64px;
                padding-left: 10px;
                color: #7a7f8d;
                cursor: pointer;
              }

              .glyphicon-pencil {
                display: none;
                position: absolute;
                right: 39px;
                top: 64px;
                color: #7a7f8d;
                cursor: pointer;
              }

              &:first-child {
                border-top-left-radius: 5px;

                @media (max-width: 768px) {
                  border-top-right-radius: 5px;
                }
              }

              &:hover {
                .glyphicon-trash {
                  display: block;

                  &:hover {
                    color: #2b2e35;
                  }
                }

                .glyphicon-pencil {
                  display: block;

                  &:hover {
                    color: #2b2e35;
                  }
                }
              }

              @media (max-width: 768px) {
                &:last-child {
                  border-bottom: 0;
                }
              }
            }
          }

          .mCSB_container {
            margin-right: 0;
          }

          .mCSB_scrollTools {
            .mCSB_dragger_bar {
              background: #000;
            }

            .mCSB_draggerRail {
              background: transparent;
            }
          }

          @media (max-width: 768px) {
            position: relative;
            width: 100%;
            margin-bottom: 10px;
            border: 1px solid #c8d3de;
            border-radius: 5px;
            background: #fff;
          }
        }

        &-feeds {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 323px;
          overflow-x: hidden;
          overflow-y: auto;

          .item-feed {
            margin: 0 25px;
            padding-bottom: 30px;
            border-bottom: 1px solid #dfdfdf;

            .feed-readed {
              margin-bottom: 0;
              text-transform: uppercase;
              font-family: 'Open Sans Regular';
              font-size: 13px;
              color: #7e7e7e;
            }

            .feed-date {
              font-family: 'Open Sans Regular';
              font-size: 12px;
              color: #7e7e7e;
            }

            .feed-description {
              display: none;
              margin-top: 30px;

              img {
                max-width: 100%;
              }

              &.active {
                display: block;
              }
            }

            h3 {
              @media (max-width: 768px) {
                font-size: 18px;
              }
            }

            &:last-child {
              border: none;
            }
          }

          .mCSB_container {
            margin-right: 0;
          }

          .mCSB_scrollTools {
            .mCSB_dragger_bar {
              background: #000;
            }

            .mCSB_draggerRail {
              background: transparent;
            }
          }

          @media (max-width: 768px) {
            position: relative;
            left: 0;
            width: 100%;
            border: 1px solid #c8d3de;
            border-radius: 5px;
            background: #fff;
          }
        }

        &-preloader {
          position: absolute;
          top: 0;
          right: 0;
          left: 323px;
          bottom: 0;

          .preloader {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            text-align: center;
          }

          @media (max-width: 768px) {
            position: relative;
            left: 0;
            width: 100%;
          }
        }
      }

      @media (max-width: 768px) {
        position: relative;
        left: 0;
        bottom: auto;
        top: 50px;
        border: 0;
        background: #f0f1f5;
      }

      @media (min-width: 768px) and (max-width: 1024px) {
        position: absolute;
        left: 15px;
        top: 110px;
      }
    }
  }

  .error {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    background: rgba(246, 109, 97, .6);
    border: 1px solid #c85b52;
    color: #fff;
    margin: 15px;
    padding: 20px;
  }

  @media (max-width: 1024px) {
    margin-left: 0;
  }
}