.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: $sidebar-width;
  @include sidebar-font();
  background: #1d2027;
  color: #fff;
  overflow-x: hidden;
  overflow-y: auto;

  .logo {
    padding: 20px 0 0;

    @media (max-width: 1024px) {
      height: 50px;
      padding: 15px 0 0;
    }
  }

  .menu-hamburger {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    background: #434446;

    .glyphicon {
      top: 50%;
      transform: translate(0, -50%);
    }

    @media (max-width: 1024px) {
      display: block;
    }
  }

  .menu {
    margin-top: 41px;

    &.active {
      display: block;
    }

    .block {
      &-control {
        text-align: center;

        .btn {
          width: 69%;
          line-height: 1;
          padding: 12px 0 11px;
          border-radius: 1px;
          border: none;
          border-top: 1px solid #56cee6;
          outline: none;
          @include sidebar-font();
          background: #3ba5d1;

          &:hover {
            background: #60bee5;
          }
        }
      }

      &-color {
        margin-bottom: 20px;

        .form-control {
          height: 30px;
          border: none;
          @include sidebar-font();
          background: #2b2e35;
          color: #fff;

          &:focus {
            box-shadow: none;
          }
        }

        .input-group-btn {
          .btn {
            height: 30px;
            padding: 6px 10px;

            &.dropdown-toggle {
              width: 39px;
              background: #464a54;
              border-color: #4d4d4d;
              border-top: 1px solid #62656e;
              outline: none;
            }
          }

          .dropdown-menu {
            position: relative;
            min-width: auto;
            margin: 2px 0 0 0;
            padding: 5px 0;
            background: #464a54;
            border: 1px solid #3c3f48;

            a {
              padding: 3px 11px;

              &:focus,
              &:hover {
                background: #5e6371;
              }
            }
          }

          &.open {
            .btn {
              &.dropdown-toggle {
                background: #5e6371;
              }
            }
          }
        }
      }
    }

    .nav-sidebar {
      margin: 0 -20px 20px;

      .group {
        padding: 0;
        cursor: pointer;
        color: #fff;

        .btn-link {
          display: block;
          padding: 10px 25px;
          text-decoration: none;
          color: #fff;
        }

        &.active {
          background: #16191e;
        }

        &:hover {
          background: #292929;

          .glyphicon-trash {
            display: inline-block;

            &:hover {
              color: #fff;
            }
          }
        }

        .glyphicon-record {
          padding-right: 6px;
        }

        .glyphicon-trash {
          display: none;
          padding: 2px 0;
          position: absolute;
          right: 20px;
          top: 11px;
          color: #808080;
        }
      }
    }

    .line {
      margin-top: 30px;
      border-top: 1px solid #0a0a0a;
      border-bottom: 1px solid #31343a;
    }

    @media (max-width: 1024px) {
      display: none;
    }
  }

  .overview {
    padding: 0 20px;
  }

  .mCSB_container {
    padding: 0px 20px;
    margin-right: 0;
  }

  @media (max-width: 1024px) {
    width: 100%;
    height: 50px;
    z-index: 10;

    &.active {
      height: 50%;

      .menu {
        display: block;
        margin-bottom: 20px;
      }
    }
  }
}